---
import ReactIcon from '../components/icons/ReactIcon.astro'
import TailwindIcon from '../components/icons/TailwindIcon.astro'
const TAGS = {
    REACT: {
        name: 'React JS',
        class: 'bg-sky-700 text-white',
        icon: ReactIcon
    },
    TAILWIND: {
        name: 'Tailwind CSS',
        class: 'bg-[#003159] text-white',
        icon: TailwindIcon
    }
}

const PROJECTS = [
    {   image: '/projects/crm-screen.webp',
        title: 'CRM - Administrador de Clientes',
        tags: [TAGS.REACT, TAGS.TAILWIND],
        description: 'Proyecto hecho en React y estilizado con TailwindCSS sobre un simulador para un sistema de administracion de clientes, con opciones de eliminar, editar y añadir nuevos clientes por medio de un formulario.',
        link: '#',
        github: '#',
    }
]
---

{
    
    PROJECTS.map(({image, title, tags, description}) => (
        <article>
            

            <h3 class="text-2xl font-semibold text-green-400 mb-2 ">{title}</h3>
            <p class="text-lg mb-4 text-pretty"> {description}</p>

            <ul class="flex gap-x-2 flex-row mb-2">
                {
                    tags.map(tag => (
                        <li>
                        <span class={`flex gap-x-2 rounded-full text-xs  ${tag.class} py-1 px-2`}>
                            
                        <tag.icon class="size-4" />
                        {tag.name}
                        </li>
                        </span>
                    ))
                }
            </ul>

            

            <img 
                class="rounded shadow-2xl shadow-white/10 h-96"
                src={image} 
                alt={`Captura de pantalla del proyecto ${image}`}
            />


        </article>
    ))

}